<noscript>
  <section id="noscript" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered is-size-5">
        <p>
          This page requires JavaScript to function.
        </p>
        {% if noscriptMessage or (noscriptMessage === null) -%}
        {{ noscriptMessage | safe }}
        {%- else -%}
        <p>If you are not automatically redirected to our No-JS uploader, <a href="nojs">click here</a>.</p>
        {%- endif %}
      </div>
    </div>
  </section>
</noscript>
