@charset "utf-8";
@import "_variables";

/** Main **/

#inputForm,
#playerContainer {
  margin-bottom: 1.5rem
}

.video-js {
  margin: 0 auto;

  &.vjs-wavesurfer.vjs-fluid {
    /* stylelint-disable-next-line selector-type-no-unknown */
    wave.vjs-wavedisplay {
      height: calc(100% - 30px) !important
    }
  }
}
